*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    max-width: 1170px;
    margin: 0px auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}


.backGraundPinkSections{
    background-color: #FDF0E9;
    
}
.backGraundDarkSections{
    background-color: #28293E;
}

