footer{
    .footerMainDiv{
        display: flex;
        width: 100%;
        padding-top: 89px;
        padding-bottom: 100px;
        justify-content: space-between;
        .Agency{
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #391400;
        }
        .FirstLIst{
            p{
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #EF6D58;
                padding-bottom: 16px;
            }
            ul{
                li{
                    a{
                        font-family: 'Epilogue';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        color: #391400;
                    }
                }
            }
        }
        .iconsDiv{
            display: flex;
            gap: 8px;
            div{
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: #EF6D58;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    background-color: #3f2925;
                    transition: 1s;
                }
                i{
                    color: #FFFFFF;
                    font-size: 24px;
                }
            }
        }
       
       
    }
    .line{
        margin-top: 68px;
        margin-bottom: 30px;
        height: 2px;
        background: #F3D1BF;
    }
}

@media only screen and (max-width: 768px){
    footer{
        .footerMainDiv{
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .FirstLIst{
                padding-top: 51px;
            }
            .iconsDiv{
                padding-top: 52px;
            }
        }
    }
}