.section25{
    .mainDivSection25{
        padding-top: 80px;
        padding-bottom: 100px;
        display: flex;
        width: 100%;
        .firstDiv{
            border: 1px solid #F3D1BF;
            width: 33.333%;
            padding-left: 48px;
            padding-top: 32px;

            .imgAndInfoDiv{
                display: flex;
                align-items: center;
                gap: 24px;
                .imgDiv{
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background: #EF6D58;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p{
                    font-family: 'Epilogue';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: #EF6D58;
                }
            }
            .numberEmailAdresInfo{
                padding-top: 26px;
                padding-bottom: 38px;
                font-family: 'Epilogue';
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                color: #391400;
            }
        }
    }
}


@media only screen and (max-width: 768px){
    .section25{
        .mainDivSection25{
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            .firstDiv{
                width: 100%;
                padding-left: 18px;
                padding-top: 22px;
            }
        }
    }
}